config AL_PLATFORM
        bool "AL platform Product"

	config MACH_AL0
	        depends on ARCH_MSM8996
	        depends on AL_PLATFORM
	        bool "AL0"
	        default n
	        help
	          Support for AL0 with APQ8096 chip-set.

menu "AL platform specific features"
	depends on AL_PLATFORM

config AL0_CAPI_V2_LIBMFE
	bool "AL Mic Front End"
	default y
	depends on MACH_AL0 && SND_SOC_MSM_QDSP6V2_INTF
	help
	  Suuport for LIBMFE

config RNDIS_USB_GADGET_ETHER
	bool "RNDIS gadget ether support"
	default y
	depends on MACH_AL0 && USB_G_ANDROID
	help
	  Support usb gadget ether(RNDIS) functionality. The related code comes from
	  Qualcomm as a patch directly instead of Code Aurora.

config EM_BLINK_LED
	bool "Blink LED and kill powermanagerd during exception happened"
	default y
	depends on MACH_AL0 && EXCEPTION_MONITOR && MSM_EM_HOOK
	help
	  Blink the LED inside EM handler. This config will also send SIGKILL to
	  powermanagerd before Blinking the LED.

config EM_GET_RELAXED
	bool "Execute relax command and kill body_controller when exception happened"
	default y
	depends on MACH_AL0 && EXCEPTION_MONITOR && MSM_EM_HOOK
	help
	  When exception happened, this config will execute relax command inside
	  EM handler. And then, system is going to reboot or shutdown depends on
	  the value of /proc/err_action.
	  This config will also send SIGKILL to body_controller before shutdown.

config AL0_ABADFOOD
	tristate "abadfood support"
	depends on MACH_AL0 && OF
	default m
	help
	  Support abadfood module that creates crash-dump while FOTA kernel is running.

config MSM_KEXEC
        bool "Kexec on MSM"
        depends on KEXEC
        default n
        help
          Support Kexec on MSM8996 based boards.

config AL0_RAMDUMP
	bool "Add Ramdump support for AL0 platform"
	default n
	depends on MACH_AL0
	help
	  Enable this symbol for Ramdump support.

config AL0_DISABLE_TSENS_WAKEUP_IRQ
	bool "Disable tsens wakup irq for AL0 platform"
	default y
	depends on MACH_AL0
	help
	  Disable tsens wakup irq to prevent system wakup when temperature is high

endmenu
