#
# SNSC related configurations
#

config SNSC_POSIX_CLOCK_SNSC_RAW_CLOCK
        bool "POSIX clock support for snsc_raw_clock()"
        depends on SNSC
        default n
        help
          This option enables special POSIX clock to be able to get a value
          of snsc_raw_clock() from user space by clock_gettime() with special
          clock ID (CLOCK_SNSC_RAW_CLOCK).
          Note: CLOCK_SNSC_RAW_CLOCK is non-compliant with POSIX specification.

config SNSC_GET_MSM_HSUART_TX_BUFFER
        bool "Get MSM HSUART TX Buffer"
        depends on SNSC
        default y
        help
          This option enables feature that get MSM HSUART TX buffer.

config SNSC_MSM_HSUART_IPC_LOG_LEVEL_TO_DBG
        bool "MSM HSUART IPC log level to DBG"
        depends on SNSC
        default n
        help
          This option modifies MSM HSUART IPC log level from INFO to DBG.
